* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "Rubik", sans-serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: fixed;
}

.container {
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.container .logo {
    width: 10%;

}

.container nav {
    width: 55%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container nav ul li {
    list-style: none;
}

.container nav ul li a {
    text-decoration: none;
    font-size: 19px;
    color: white;

}

.container nav ul li a:hover {
    color: #65C9BB;
}

.container .btn button {
    width: 100%;
    padding: 20px;
    font-size: 17px;
    font-size: "Rubik", sans-serif;
    background-color: #EE5C44;
    border: none;
    color: white;
}

.container .btn button:hover {
    background-color: transparent;
    border: 1px solid white;
    transition: .5s;
}

.menu {
    display: none;
}

/* @media screen and (min-width:576px  max-width:992px;) {
   .container 
 } */


#sectionOne {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;



    background-image: url('https://preview.colorlib.com/theme/charitee/assets/img/hero/h1_hero1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.containerTwo {
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.text {
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    color: white;


}

.text h1 {
    font-size: 70px;
    font-size: "Jost", sans-serif;
    font-weight: 700;
}

.text p {
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
}

.text button {
    width: 38%;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    background-color: #65C9BB;
    border: none;
}

.text button:hover {
    background-color: transparent;
    border: 1px solid white;
    transition: .5s;
}

#sectionThree {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCF2EB;
}

.containerThree {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  

}

.img {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.img img {
    width: 100%;
}

.textTwo {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.textTwo span {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #65C9BB;
}

.textTwo h2 {
    font-size: 40px;
    font-weight: 520;
    line-height: 48px;
    color: rgb(38, 59, 92);
}

.textTwo p {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #878585;
}

.btnTwo {
    width: 90%;
}



.btnTwo button {
    width: 40%;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: white;
    background-color: #F15B43;
    border: none;
}

.btOne:hover {
    background-color: transparent;
    border: 2px solid #F15B43;
    color: #F15B43;
    transition: .5s;
}

.btTwo {
    transition: .5s;
    background-color: transparent;
    border: 2px solid #F15B43;

}

#sectionFour{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerFour{
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}


.textThree{
    width: 40%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    color:black;
}
.textThree span{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #65C9BB;
}

.textThree h2{
    font-size: 40px;
    font-weight: 520;
    line-height: 48px;
    color: rgb(38, 59, 92);
}

.textThree p{
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #878585;
}

.textThree button{
    width: 40%;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: white;
    background-color: #F15B43;
    border: none;
}
.textThree button:hover{
    background-color: transparent;
    border: 2px solid #F15B43;
    color: #F15B43;
    transition: .5s;
}

.imgTwo{
width: 55%;
}

.imgTwo img{
    width: 100%;
}

#sectionFive{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.containerFive{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;  


}

.div{
    width: 32%;
    gap: 15px;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: column; 
    background-color: #F4F2F1;
}
.div h3{
    font-size: 22px;
    font-weight: 600;
    line-height: 48px;
    color: rgb(38, 59, 92); 
}
.div h3:hover{
   color: #F15B43;
   cursor: pointer;
}

.div p{
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #878585;
}

div .rq{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #65C9BB;
}
.div .gb {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #878585;
} 
.div img{
    width:90%;   
}

.cont{
    width:80%;  
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 25px;

}
.number{

    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: column;    
}
.dont{
    width:30%; 
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.dont button{
    width:100%; 
    padding: 6px 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: white;
    background-color: #F15B43;
    border: none;
    
}
.dont button:hover{
    background-color: transparent;
    border: 2px solid #F15B43;
    color: #F15B43;
    transition: .5s;
}
#sectionSix {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerSix {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  

}

.imgSix {
    width: 30%; height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.img img {
    width: 100%;
   
}

.textSix {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.textSix span {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #65C9BB;
}

.textSix  h2 {
    font-size: 40px;
    font-weight: 520;
    line-height: 48px;
    color: rgb(38, 59, 92);
}

.textSix p {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #878585;
}

.btnSix{
    width: 90%;
}



.btnSix button {
    width: 40%;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: white;
    background-color: #F15B43;
    border: none;
}

.btOne:hover {
    background-color: transparent;
    border: 2px solid #F15B43;
    color: #F15B43;
    transition: .5s;
}



#sectionSeven{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EE5C44;

}

.containerSeven{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;  


}